/* .form-container {
  display: block;
  max-width: 40%;
  margin: auto;
  margin-top: 10px;

  background: #61360f;
  padding: 48px;
  border-radius: 16px;
}

mat-form-field {
  margin-right: 5em;
  color: white;
}

label {
  margin-right: 10em;
  color: white;
  text-align: center;
}

.title {
  color: white;
  font-family: serif;
}

.forms-div {
  text-align: center;
}

h1 {
  margin-bottom: 1em;
}

.profile-image>img {
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

.profile-image {
  position: relative
}

.profile-image>button {
  position: absolute;
  bottom: 10px;
  right: 45%;
}

.formbtn {
  background-color: rgb(52, 150, 230);
  width: 20%;
  float: right;
  text-align: center;
  margin-bottom: 5em;
} */

.form-container2 {
  display: block;
  max-width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #D3D5DB;
  /* background: rgb(5, 61, 151);
  background: -moz-linear-gradient(176deg, rgba(5, 61, 151, 1) 26%, rgba(4, 28, 66, 1) 98%);
  background: -webkit-linear-gradient(176deg, rgba(5, 61, 151, 1) 26%, rgba(4, 28, 66, 1) 98%);
  background: linear-gradient(176deg, rgba(5, 61, 151, 1) 26%, rgba(4, 28, 66, 1) 98%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#053d97", endColorstr="#041c42", GradientType=1); */
  padding: 50px;
  border-radius: 16px;
  height: max-content;
  /* align-items: center; */
}

.form-title {
  font-family: 'Koulen', cursive;
  font-size: 2.8em;
  padding: -5px;
  text-align: center;
  color: #072F6E;
  font-weight: 700;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.divTitle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
}

.incl {
  text-align: left;
  font-family: 'Cabin', sans-serif;
  font-size: 1.2em;
  color: #072F6E;
  font-weight: 500;
  /* margin-left: 150px; */
}

.main-item {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 3px;
  margin-right: 3px;
}

.nameLbl {
  text-align: left;
  margin-left: 10px;
}

.label2 {
  font-weight: 0 !important;
  font-size: 1.1em;
  font-family: 'Cabin', sans-serif;
  color: #072F6E;
}

input,
select {
  display: block;
  border: 2px solid #072F6E;
  width: 525px;
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

input:focus,
select:focus {
  outline: none !important;
  border: 3px solid #072F6E;
}

.hint {
  font-size: 0.9em;
}

.item {
  display: flex;
}

.medInput {
  width: 258px;
}

.formbtn {
  background-color: #01193E;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  width: 15%;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 5px;
  justify-content: flex-end;
  border-radius: 30px;
  font-size: 1.2em;
  color: #e7e7e7;
  padding-left: 5px;
  padding-right: 5px;
}

.formbtn:hover {
  background-color: #024ABD;
}

#submitBtn {
  justify-content: flex-end;
}

hr {
  background-color: #01193E;
}

@media only screen and (max-width: 1410px) {

  input,
  select {
    width: 300px;
  }

  .medInput {
    width: 300px;
  }

}
