<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">
<!--for titles-->
<link href="https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap" rel="stylesheet">
<!--for labels-->

<div class="form-container2  mat-elevation-z5 text-center" *ngIf="user$ | async as user">
  <h1 class="form-title">Work Experience</h1>
  <hr>

  <form class="margin-top" [formGroup]="ProfileForm">
    <div style="margin-bottom: -25px;">
      <h4 class="incl">Inclusive Dates</h4>
    </div>

    <div class="container1">
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            From <span class="hint"> (mm/dd/yyyy) </span>
          </label>
        </div>
        <div class="item">
          <input class="form-control medInput" type="date" formControlName="fromWorkExp" placeholder="From:" />
        </div>
      </div>
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            To <span class="hint"> (mm/dd/yyyy) </span>
          </label>
        </div>
        <div class="item">
          <input class="form-control medInput" type="date" formControlName="tomWorkExp" placeholder="To:" />
        </div>
      </div>
    </div>

    <div class="container">
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            Position Title <span class="hint">(Write in full/Do not abbreviate)</span>
          </label>
        </div>
        <div class="item">
          <input class="form-control" type="text" formControlName="positionTitleWorkExp" placeholder="Position Title" />
        </div>
      </div>
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2 lbldept-outer">
            Department/Agency/Office/Company <span class="hint lbldept-inner">(Write in full/Do not abbreviate)</span>
          </label>
        </div>
        <div class="item">
          <input class="form-control" type="text" formControlName="departmentWorkExp"
            placeholder="Department/Agency/Office/Company" />
        </div>
      </div>
    </div>

    <div class="container">
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            Monthly Salary
          </label>
        </div>
        <div class="item">
          <input class="form-control" class="medInput" type="number" formControlName="monthlySalaryWorkExp"
            placeholder="Monthly Salary" />
        </div>
      </div>
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            Salary/Job/Pay Grade <span class="hint"> (If applicable) </span>
          </label>
        </div>
        <div class="item">
          <input class="form-control medInput" type="text" formControlName="salaryJobPayWorkExp"
            placeholder="Salary/Job/Pay Grade" />
        </div>
      </div>
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            Status of Apointment
          </label>
        </div>
        <div class="item">
          <input class="form-control medInput" type="text" formControlName="statusOfAppointmentWorkExp"
            placeholder="Status of Apointment" />
        </div>
      </div>
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            Government Service
          </label>
        </div>
        <div class="item">
          <select class="form-control medInput" formControlName="governmentServiceWorkExp">
            <option value="" selected disabled>Government Service</option>
            <option value="Yes">Yes </option>
            <option value="No">No </option>
          </select>
        </div>
      </div>
    </div>

    <div class="container" id="submitBtn">
      <button routerLink="/civil-service-form" class="formbtn" mat-raised-button>
        Back
      </button>
      <button (click)="saveProfile()" type="submit" class="formbtn" mat-raised-button>
        Next
      </button>
    </div>
  </form>
</div>
