<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">
<!--for titles-->
<link href="https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap" rel="stylesheet">
<!--for labels-->

<div class="form-container2  mat-elevation-z5 text-center animate__animated animate__fadeIn animate__faster"
  *ngIf="user$ | async as user">
  <p id="ins">Please fill out all of the relevant information which will be recorded in the Faculty Management
    Information System. We ask that you only provide true and accurate information. Write "N/A" if not applicable.
  </p>
  <hr>
  <h1 class="form-title">Work Experience</h1>
  <hr>

  <form class="margin-top" [formGroup]="ProfileForm">

    <!-- work1 -->
    <div class="container" id="divWork1">
      <div class="row">
        <div class="col-md-8 col-lg-4 col-sm-12">
          <div>
            <span class="title2 subAtt">Period of Attendance</span>
          </div>
          <div class="row att">
            <div class="col-sm-6 att">
              <div class="nameLbl">
                <label class="label2">
                  From
                </label>
              </div>
              <div>
                <input class="form-control medInput" maxlength="4" min="1900" max="2099" step="1" type="number"
                  formControlName="fromWorkExp" placeholder="From (yyyy)" />
              </div>
            </div>
            <div class="col-sm-6 att">
              <div class="nameLbl">
                <label class="label2">
                  To
                </label>
              </div>
              <div>
                <input class="form-control medInput" maxlength="4" min="1900" max="2099" step="1" type="number"
                  formControlName="toWorkExp" placeholder="To (yyyy)" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-lg-6 col-sm-12">
          <div class="nameLbl">
            <label class="label2">
              Position Title <span class="hint">(Write in full/Do not abbreviate)</span>
            </label>
          </div>
          <div class="item">
            <input class="form-control" type="text" formControlName="positionTitleWorkExp"
              placeholder="Position Title" />
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-sm-12">
          <div class="nameLbl">
            <label class="label2 lbldept-outer">
              Department/Agency/Office/Company <span class="hint lbldept-inner">(Write in full/Do not abbreviate)</span>
            </label>
          </div>
          <div class="item">
            <input class="form-control" type="text" formControlName="departmentWorkExp"
              placeholder="Department/Agency/Office/Company" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-3 col-sm-12">
          <div class="nameLbl">
            <label class="label2">
              Monthly Salary
            </label>
          </div>
          <div class="item">
            <input class="form-control" type="text" formControlName="monthlySalaryWorkExp" placeholder="Monthly Salary"
              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
          </div>
        </div>
        <div class="col-md-6 col-lg-3 col-sm-12">
          <div class="nameLbl">
            <label class="label2">
              Salary/Job/Pay Grade <span class="hint"> (If applicable) </span>
            </label>
          </div>
          <div class="item">
            <input class="form-control " type="text" formControlName="salaryJobPayWorkExp"
              placeholder="Salary/Job/Pay Grade"
              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
          </div>
        </div>
        <div class="col-md-6 col-lg-3 col-sm-12">
          <div class="nameLbl">
            <label class="label2">
              Status of Apointment
            </label>
          </div>
          <div class="item">
            <input class="form-control " type="text" formControlName="statusOfAppointmentWorkExp"
              placeholder="Status of Apointment" />
          </div>
        </div>
        <div class="col-md-6 col-lg-3 col-sm-12">
          <div class="nameLbl">
            <label class="label2">
              Government Service
            </label>
          </div>
          <div class="item">
            <select class="form-control " formControlName="governmentServiceWorkExp">
              <option value="" selected disabled> Select Government Service</option>
              <option value="Yes">Yes </option>
              <option value="No">No </option>
            </select>
          </div>
        </div>
        <div class="formbtnDiv">
          <button class="formbtn" id="addWork1" (click)="addWork1()" mat-raised-button> Add </button>
        </div>
      </div>

    </div>
    <hr>

    <!-- work2 -->
    <div class="container" id="divWork2" style="display:none;">
      <div class="row">
        <div class="col-md-8 col-lg-4 col-sm-12">
          <div>
            <span class="title2 subAtt">Period of Attendance</span>
          </div>
          <div class="row att">
            <div class="col-sm-6 att">
              <div class="nameLbl">
                <label class="label2">
                  From
                </label>
              </div>
              <div>
                <input class="form-control medInput" maxlength="4" min="1900" max="2099" step="1" type="number"
                  formControlName="fromWorkExp2" placeholder="From (yyyy)" />
              </div>
            </div>
            <div class="col-sm-6 att">
              <div class="nameLbl">
                <label class="label2">
                  To
                </label>
              </div>
              <div>
                <input class="form-control medInput" maxlength="4" min="1900" max="2099" step="1" type="number"
                  formControlName="toWorkExp2" placeholder="To (yyyy)" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-lg-6 col-sm-12">
          <div class="nameLbl">
            <label class="label2">
              Position Title <span class="hint">(Write in full/Do not abbreviate)</span>
            </label>
          </div>
          <div class="item">
            <input class="form-control" type="text" formControlName="positionTitleWorkExp2"
              placeholder="Position Title" />
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-sm-12">
          <div class="nameLbl">
            <label class="label2 lbldept-outer">
              Department/Agency/Office/Company <span class="hint lbldept-inner">(Write in full/Do not abbreviate)</span>
            </label>
          </div>
          <div class="item">
            <input class="form-control" type="text" formControlName="departmentWorkExp2"
              placeholder="Department/Agency/Office/Company" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-3 col-sm-12">
          <div class="nameLbl">
            <label class="label2">
              Monthly Salary
            </label>
          </div>
          <div class="item">
            <input class="form-control" type="text" formControlName="monthlySalaryWorkExp2" placeholder="Monthly Salary"
              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
          </div>
        </div>
        <div class="col-md-6 col-lg-3 col-sm-12">
          <div class="nameLbl">
            <label class="label2">
              Salary/Job/Pay Grade <span class="hint"> (If applicable) </span>
            </label>
          </div>
          <div class="item">
            <input class="form-control " type="text" formControlName="salaryJobPayWorkExp2"
              placeholder="Salary/Job/Pay Grade"
              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
          </div>
        </div>
        <div class="col-md-6 col-lg-3 col-sm-12">
          <div class="nameLbl">
            <label class="label2">
              Status of Apointment
            </label>
          </div>
          <div class="item">
            <input class="form-control " type="text" formControlName="statusOfAppointmentWorkExp2"
              placeholder="Status of Apointment" />
          </div>
        </div>
        <div class="col-md-6 col-lg-3 col-sm-12">
          <div class="nameLbl">
            <label class="label2">
              Government Service
            </label>
          </div>
          <div class="item">
            <select class="form-control " formControlName="governmentServiceWorkExp2">
              <option value="" selected disabled> Select Government Service</option>
              <option value="Yes">Yes </option>
              <option value="No">No </option>
            </select>
          </div>
        </div>
        <div class="formbtnDiv">
          <button class="formbtn" id="addWork2" (click)="addWork2()" mat-raised-button> Add </button>
          <button class="formbtn" id="cancelWork1" (click)="cancelWork1()" mat-raised-button> Cancel </button>
        </div>
      </div>

      <hr>
    </div>

    <!-- work3 -->
    <div class="container" id="divWork3" style="display:none;">
      <div class="row">
        <div class="col-md-8 col-lg-4 col-sm-12">
          <div>
            <span class="title2 subAtt">Period of Attendance</span>
          </div>
          <div class="row att">
            <div class="col-sm-6 att">
              <div class="nameLbl">
                <label class="label2">
                  From
                </label>
              </div>
              <div>
                <input class="form-control medInput" maxlength="4" min="1900" max="2099" step="1" type="number"
                  formControlName="fromWorkExp3" placeholder="From (yyyy)" />
              </div>
            </div>
            <div class="col-sm-6 att">
              <div class="nameLbl">
                <label class="label2">
                  To
                </label>
              </div>
              <div>
                <input class="form-control medInput" maxlength="4" min="1900" max="2099" step="1" type="number"
                  formControlName="toWorkExp3" placeholder="To (yyyy)" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-lg-6 col-sm-12">
          <div class="nameLbl">
            <label class="label2">
              Position Title <span class="hint">(Write in full/Do not abbreviate)</span>
            </label>
          </div>
          <div class="item">
            <input class="form-control" type="text" formControlName="positionTitleWorkExp3"
              placeholder="Position Title" />
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-sm-12">
          <div class="nameLbl">
            <label class="label2 lbldept-outer">
              Department/Agency/Office/Company <span class="hint lbldept-inner">(Write in full/Do not abbreviate)</span>
            </label>
          </div>
          <div class="item">
            <input class="form-control" type="text" formControlName="departmentWorkExp3"
              placeholder="Department/Agency/Office/Company" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-3 col-sm-12">
          <div class="nameLbl">
            <label class="label2">
              Monthly Salary
            </label>
          </div>
          <div class="item">
            <input class="form-control" type="text" formControlName="monthlySalaryWorkExp3" placeholder="Monthly Salary"
              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
          </div>
        </div>
        <div class="col-md-6 col-lg-3 col-sm-12">
          <div class="nameLbl">
            <label class="label2">
              Salary/Job/Pay Grade <span class="hint"> (If applicable) </span>
            </label>
          </div>
          <div class="item">
            <input class="form-control " type="text" formControlName="salaryJobPayWorkExp3"
              placeholder="Salary/Job/Pay Grade"
              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
          </div>
        </div>
        <div class="col-md-6 col-lg-3 col-sm-12">
          <div class="nameLbl">
            <label class="label2">
              Status of Apointment
            </label>
          </div>
          <div class="item">
            <input class="form-control " type="text" formControlName="statusOfAppointmentWorkExp3"
              placeholder="Status of Apointment" />
          </div>
        </div>
        <div class="col-md-6 col-lg-3 col-sm-12">
          <div class="nameLbl">
            <label class="label2">
              Government Service
            </label>
          </div>
          <div class="item">
            <select class="form-control " formControlName="governmentServiceWorkExp3">
              <option value="" selected disabled> Select Government Service</option>
              <option value="Yes">Yes </option>
              <option value="No">No </option>
            </select>
          </div>
        </div>
        <div class="formbtnDiv">
          <button class="formbtn" id="cancelWork2" (click)="cancelWork2()" mat-raised-button> Cancel </button>
        </div>
      </div>
      <hr>
    </div>







    <div class="container" id="submitBtn">
      <div class="row">
        <div class="col-md-6 col-lg-3 col-sm-12 formbtnDiv">
          <button routerLink="/civil-service-form" class="formbtn" mat-raised-button>
            Back
          </button>
        </div>
        <div class="col-md-6 col-lg-1 col-sm-12">

        </div>
        <div class="col-md-6 col-lg-2 col-sm-12">



        </div>
        <div class="col-md-6 col-lg-2 col-sm-12">


        </div>
        <div class="col-md-6 col-lg-1 col-sm-12">

        </div>
        <div class="col-md-6 col-lg-3 col-sm-12 formbtnDiv">
          <button (click)="saveProfile()" type="submit" class="formbtn" mat-raised-button>
            Next
          </button>
        </div>
      </div>
    </div>
  </form>
</div>