<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">
<!--for titles-->
<link href="https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap" rel="stylesheet">
<!--for labels-->

<div class="form-container2  mat-elevation-z5 text-center" *ngIf="user$ | async as user">
  <h1 class="form-title">Work Experience</h1>
  <hr>

  <form class="margin-top" [formGroup]="ProfileForm" (ngSubmit)="saveProfile()">

    <div class="container">
      <div class="divTitle">
        <div style="margin-bottom: -25px;">
          <h4 class="incl">Inclusive Dates</h4>
        </div>
        <div style="display: inline-flex; justify-content: space-between; min-width: fit-content;">
          <div class="main-item">
            <div class="nameLbl">
              <label class="label2">
                From <span class="hint"> (DD/MM/YYYY) </span>
              </label>
            </div>
            <div class="item">
              <input class="medInput" type="date" formControlName="fromWorkExp" placeholder="From:" />
            </div>
          </div>
          &nbsp;&nbsp;
          <div class="main-item">
            <div class="nameLbl">
              <label class="label2">
                To <span class="hint"> (DD/MM/YYYY) </span>
              </label>
            </div>
            <div class="item">
              <input class="medInput" type="date" formControlName="tomWorkExp" placeholder="To:" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            Position Title <span class="hint">(Write in full/Do not abbreviate)</span>
          </label>
        </div>
        <div class="item">
          <input type="text" formControlName="positionTitleWorkExp" placeholder="Position Title" />
        </div>
      </div>
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            Department/Agency/Office/Company <span class="hint">(Write in full/Do not abbreviate)</span>
          </label>
        </div>
        <div class="item">
          <input type="text" formControlName="departmentWorkExp" placeholder="Department/Agency/Office/Company" />
        </div>
      </div>
    </div>

    <div class="container">
      <div style="display: inline-flex; justify-content: space-between; min-width: fit-content;">
        <div class="main-item">
          <div class="nameLbl">
            <label class="label2">
              Monthly Salary
            </label>
          </div>
          <div class="item">
            <input class="medInput" type="number" formControlName="monthlySalaryWorkExp" placeholder="Monthly Salary" />
          </div>
        </div>
        &nbsp;&nbsp;
        <div class="main-item">
          <div class="nameLbl">
            <label class="label2">
              Salary/Job/Pay Grade <span class="hint"> (If applicable) </span>
            </label>
          </div>
          <div class="item">
            <input class="medInput" type="text" formControlName="salaryJobPayWorkExp"
              placeholder="Salary/Job/Pay Grade" />
          </div>
        </div>
      </div>

      <div style="display: inline-flex; justify-content: space-between; min-width: fit-content;">
        <div class="main-item">
          <div class="nameLbl">
            <label class="label2">
              Status of Apointment
            </label>
          </div>
          <div class="item">
            <input class="medInput" type="text" formControlName="statusOfAppointmentWorkExp"
              placeholder="Status of Apointment" />
          </div>
        </div>
        &nbsp;&nbsp;
        <div class="main-item">
          <div class="nameLbl">
            <label class="label2">
              Government Service
            </label>
          </div>
          <div class="item">
            <select class="medInput" formControlName="governmentServiceWorkExp" placeholder="Y/N">
              <option value="Yes">Yes </option>
              <option value="No">No </option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="container" id="submitBtn">
      <button type="submit" class="formbtn" mat-raised-button>
        Next
      </button>
    </div>
  </form>
</div>
