<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">
<!--for titles-->
<link href="https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap" rel="stylesheet">
<!--for labels-->
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
<!-- for th -->
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
<!--Sub Title-->

<div class="form-container1 mat-elevation-z5" *ngIf="user$ | async as user">

  <h2 class="form-title"> Faculty List</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12">
        <table class="table ">

          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">EmployeeID</th>
              <th scope="col">Email</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col" style="text-align: center;">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of userList; index as i">
              <th class="th-number" scope="row">{{ i + 1 }}</th>
              <td>{{ data.employeeId }}</td>
              <td style="text-transform: lowercase;">{{ data.email }}
              <td>{{ data.firstName}}</td>
              <td>{{ data.lastName}}</td>

              <td>
                <div class="row">
                  <div class="col hit">
                    <button (click)="details()" class="btn btn-success">
                      Details
                    </button>
                    <!-- <button #hit id="hit" class="btn btn-danger" (click)="delete()"  >
                        Delete
                    </button> -->
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


</div>
