.form-container3 {
  display: block;
  min-width: 400px;
  max-width: 60%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 16px;
  align-items: center;
  background-color: #D3D5DB;
  height: fit-content;
  overflow: hidden;
}
#generateWorkExp{
  position: relative;
  left: 67%;
  top: -15px;
  background-color:#072F6E;
  color: white;
  padding: 8px;
  margin: 10px;
  border: none;
  border-radius: 7px;
}
.form-title {
  font-family: 'Koulen', cursive;
  font-size: 2.8em;
  padding: -5px;
  text-align: center;
  color: #072F6E;
  font-weight: 700;
  padding: 30px;
  padding-bottom: 5px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

table {
  display: table;
  border-collapse: collapse;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 5px;
  margin-top: 10px;
  margin-bottom: 30px;
  border: 1px solid #b7b9bd6e;
  /* padding-left: 50px; */
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  width: fit-content;
  font-size: 1.3em;
  font-weight: 500;
  color: #072F6E;
}

td {
  font-family: sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
}

th {
  font-weight: 600;
  font-size: 0.8em;
}

td,
th {
  padding: 8px;
  padding-right: 120px;
  font-family: 'Roboto Slab', serif;
}

tr:nth-of-type(odd) {
  background-color: #ccc;
}

hr {
  background-color: #01193e;
  margin-left: 30px;
  margin-right: 30px;
}

caption {
  color: #072F6E;
  width: 250px;
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
  font-style: italic;
  font-weight: 400;
}

.capBot {
  margin-top: 20px;
}

@media only screen and (max-width: 1000px) {

  tr,
  h2 {
    font-weight: 0.8em;
  }

  td,
  th {
    padding: 3px;
    padding-right: 0px;
  }

  .form-title {
    line-height: 5vh;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  h2 {
    width: 348px;
  }

}
