<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">

<div class="containerLogin mat-elevation-z5 animate__animated animate__zoomIn animate__faster">
  <h1 class="form-title">Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <div class="row">
      <mat-form-field appearance="outline" class="col-md-12 col-lg-12 col-sm-12">
        <input matInput placeholder="Email Address" formControlName="email">
        <mat-label>Email</mat-label>
        <mat-error class="loginText" *ngIf="email?.errors?.['required']"> Email is Required!</mat-error>
        <mat-error class="loginText" *ngIf="email?.errors?.['email']"> Please enter a correct email!</mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline" class="col-md-12 col-lg-12 col-sm-12">
        <input matInput placeholder="Password" formControlName="password" type="password">
        <mat-label>Password</mat-label>
        <mat-error class="loginText" *ngIf="email?.errors?.['required']"> Password is Required!</mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="center margin-top col-md-12 col-lg-12 col-sm-12">
        <button mat-raised-button color="warn" type="submit" class="loginBtn">
          Login
        </button>
      </div>
    </div>
    <div class="row">
      <span class="center margin-top noAcc col-md-12 col-lg-12 col-sm-12">Register as a faculty? <a
          routerLink="/register" class="sign-up-link reg">Register</a></span>
    </div>
  </form>
</div>
