/* mat-form-field{
    color:white;
} */


.sign-up-link {
  font-size: 1.2rem;
  margin-left: 8px;
  text-decoration: none;
  color: rgb(226, 90, 90);
}

/* .form-container{
    margin-top: 50px;
} */

/* Seph */
/* .form-container {
  display: block;

  margin-top: 10px;

  background: #61360f;
  
  
} */

.containerLogin {
  background: rgb(255, 178, 112);
  background: -moz-linear-gradient(180deg, rgba(255, 178, 112, 1) 0%, rgba(250, 152, 105, 1) 80%);
  background: -webkit-linear-gradient(180deg, rgba(255, 178, 112, 1) 0%, rgba(250, 152, 105, 1) 80%);
  background: linear-gradient(180deg, rgba(255, 178, 112, 1) 0%, rgba(250, 152, 105, 1) 80%);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  max-width: 40%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 48px;
  border-radius: 16px;
}

.form-title {
  font-family: 'Koulen', cursive;
  font-size: 2.5em;
  color: #ffffff;
}

.loginText {
  color: rgb(187, 14, 14);
  font-weight: bold;
  letter-spacing: 0.1em;
}

.loginBtn {
  background-color: #AA4F00;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 30px;
  font-size: 1.3em;
  color: #FFD4B0;
}

.loginBtn:hover {
  background-color: #FFBC82;
  color: black;
}

.loginBtn:active {
  background-color: #F8790B;
}

.noAcc {
  margin-top: 40px;
  font-size: 1.1em;
}

.reg {
  font-size: 1.1em;
  color: rgb(238, 99, 64);
  font-weight: 500;
}

.center {
  display: flex;
  justify-content: center;
}

.margin-top {
  margin-top: 16px;
  color: rgb(250, 250, 250)
}
