<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@600&display=swap" rel="stylesheet">
<!-- </head>
<body> -->
    <div class="mainLanding">
        <div class="contentLanding bgImage">
            <div class="seeFirst">
                <div class="first">
                    <div class="logo">
                        <img [src]="'assets/images/bulsuLogo.png'">
                        <img [src]="'assets/images/cictLogo.png'">
                    </div>
                </div>
                <div class="first">
                    <div class="firstBottom">
                        <p class="subTop">Bulacan State University</p>
                    </div>
                </div>
                <div class="first">
                    <div class="firstBottom">
                        <p class="cict">College of Information<br>
                        and Communications
                        Technology</p>
                        <!-- <p class="subBot">Faculty Management Information System</p> -->
                    </div>
                </div>
            </div>
        </div>
        
        <div class="contentLanding bottom">
            <div class="space"></div>
                <div class="container">
                    <div class="card">
                        <div class="box">
                            <div class="content">
                                <h3>Vision</h3>
                                <p>Excellence in producing globally competitive graduates in the field of 
                                    Information and Communications Technology responsive to the changing needs
                                    of the society
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <div class="content">
                                <h3>Mission</h3>
                                <p>To provide quality education by ensuring efficient and effective delivery of instruction 
                                    through appropriate adoption of technological innovation and research in carrying
                                    out extension services
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            <div>
                <div class="goalcontainer">
                    <div class="goal">
                        <div class="boxGoal">
                            <div class="content">
                                <h3>Goals</h3>
                                <p>To realize its mission, the College of Information and Communications Technology will
                                    explore to:
                                </p>
                                    <ol>
                                        <li>Produce globally competitive graduates by providing comprehensive programs and up-to-date tranings</li>
                                        <li>Sustain faculty and staff development through relevant seminars, workshops and scholarship grants</li>
                                        <li>stablish strong linkages to students, academe and industry through the availability of resources and
                                            facilities and community partnership</li>
                                        <li>Contribute to the development of society through research, extension services, and technology transfer
                                            based on industry standards</li>
                                    </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div>
                <div class="objcontainer">
                    <div class="obj">
                        <div class="boxObj">
                            <div class="content">
                                <h3>Objectives</h3>
                                <ol>
                                    <li>To provide students with holistic training by introducing new technologies in Information and Communication
                                        Technology and allowing them to experience actual workplace environment</li>
                                    <li>To inculcate discipline towards the achievements of professional competencies, intergrity, moral and ethical values</li>
                                    <li>Bachelor of Science in Information Technology: To produce students knowledgeable in programming, networking, database
                                        management, game development, web development, multi-media, mobile applications and with expertise on systems analysis
                                        and design by providing appropriate trainings and laboratories</li>
                                    <li>To promote culture of teamwork, discipline, good study habits and standards of learning by exploring hardware and software
                                        technology in an environment conducive to learning</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- 
</body>
</html> -->
