<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">
<!--for titles-->
<link href="https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap" rel="stylesheet">
<!--for labels-->
<link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap" rel="stylesheet">
<!--for answers-->

<div class="form-container2 mat-elevation-z5" *ngIf="user$ | async as user">
  <h1 class="form-title">Civil Service Eligibility</h1>
  <hr>

  <form class="margin-top" [formGroup]="profileForm">
    <div class="container">
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            Civil Service
          </label>
        </div>
        <div class="item">
          <select class="form-control" formControlName="careercivil" placeholder="Career service/RA 1080/CES/etc.">
            <option value="" selected disabled>Select Civil Service</option>
            <option value="CS">Career Service</option>
            <option value="RA">RA 1080 (Board/Bar) Under Special Laws</option>
            <option value="CES">Career Executive Service</option>
            <option value="CSEE">Career Service Executive Eligibles Barangay Eligibility</option>
            <option value="DL">Driver's License </option>
          </select>
        </div>
      </div>
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            Rating
          </label>
        </div>
        <div class="item">
          <input class="form-control medInput" type="text" formControlName="ratingCivil" placeholder="Rating" />
        </div>
      </div>
    </div>

    <div class="container">
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            Place of examination/Conferment
          </label>
        </div>
        <div class="item">
          <input class="form-control" type="text" formControlName="placeofExamCivil"
            placeholder="Place of examination/Conferment" />
        </div>
      </div>
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            Date of examination/Conferment
          </label>
        </div>
        <div class="item">
          <input class="form-control medInput" type="date" formControlName="dateofExamCivil"
            placeholder="Date of examination/Conferment" />
        </div>
      </div>
    </div>

    <div>
      <h3 class="title">License (If applicable)</h3>
    </div>

    <div class="container">
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            Number
          </label>
        </div>
        <div class="item">
          <input class="form-control" type="number" formControlName="numberCivil" placeholder="Number" />
        </div>
      </div>
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            Date of Validity
          </label>
        </div>
        <div class="item">
          <input class="form-control medInput" type="date" formControlName="dateofValidityCivil"
            placeholder="Date of Validity" />
        </div>
      </div>
    </div>

    <div class="container" id="submitBtn">
      <button routerLink="/educational-background-form" class="formbtn" mat-raised-button>
        Back
      </button>
      <button (click)="saveProfile()" type="submit" class="formbtn" mat-raised-button>
        Next
      </button>
    </div>
  </form>
</div>
