<form>
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col"></div>


            <div class="col-4">
                <div class="card shadow">
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <h3 class="text-dark text-muted">Register</h3>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">First Name</label>
                                <input ngModel placeholder="First Name" type="text" class="form-control"
                                    name="firstnName" id="firstnName">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Last Name</label>
                                <input ngModel placeholder="Last Name" type="text" class="form-control"
                                    name="lastName" id="lastName">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Employee ID</label>
                                <input ngModel placeholder="Employee ID" type="text" class="form-control"
                                    name="employeeID" id="employeeID">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input ngModel placeholder="Email" type="email" class="form-control" name="email"
                                    id="email">

                            </div>

                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input ngModel placeholder="Paswword" type="password" class="form-control"
                                    name="password" id="password">
                            </div>

                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                                <input ngModel placeholder="Confirm Paswword" type="password" class="form-control"
                                    name="cpassword" id="cpassword">
                            </div>

                            <button type="button" class="btn btn-info">Register</button> <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="/login" style="text-decoration: none;">Already have an account?<span
                                            class="text-danger">Login</span></a>
                                </div>


                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- <div class="col"></div> -->
        </div>
    </div>

</form>