<div class="form-container mat-elevation-z5 text-center"
 *ngIf="user$ | async as user">
  <h1 class="form-title">User Profile</h1>
  <div class="profile-image">
    <img width="120" height="120" [src]="user.photoURL ?? 'assets/images/image-placeholder.jpg'">
    <button mat-mini-fab (click)="inputField.click()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>

  <input #inputField type="file" hidden (change)="uploadImage($event, user)" />


  <form class="margin-top" [formGroup]="profileForm" (ngSubmit)="saveProfile()">


    <label type="text" matInput formControlName="employeeId" p> Employee ID:  {{user.employeeId}}</label>
    <br/><br/>

     <!-- employee-id -->
     <mat-form-field>
      <input type="text" matInput formControlName="mobileNo" placeholder="Mobile Number" />
    </mat-form-field>


     <!-- employee-id -->
     
      <!-- <mat-form-field class="mat-fieds">
        <input formControlName="dateOfBirth" placeholder="Date of Birth" type="text" matInput
            [matDatepicker]="picker">
        <mat-hint>(MM/DD/YYYY)</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> -->

    <mat-form-field>
      <!-- <input type="text" matInput formControlName="gender" placeholder="Gender" /> -->
      <select matNativeControl formControlName="gender" placeholder="Gender" >
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="LGBTQIA">LGBTQIA+</option>
        </select>
  </mat-form-field>


    <!-- display-name -->
    <!-- <mat-form-field>
      <input type="text" matInput formControlName="displayName" placeholder="Display Name" />
    </mat-form-field> -->

    <!-- firstname -->
    <mat-form-field>
      <input type="text" matInput formControlName="firstName" placeholder="First Name" />

      <!-- lastname -->
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput formControlName="lastName" placeholder="Last Name" />
    </mat-form-field>




   




    <button type="submit" class="center margin-top" mat-raised-button color="warn">
      Save
    </button>
  </form>

</div>