<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
<!--for titles-->
<link href="https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap" rel="stylesheet">
<!--for labels-->
<link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap" rel="stylesheet">
<!--for answers-->

<div class="form-container mat-elevation-z5 text-center" *ngIf="user$ | async as user">
  <h1 class="form-title">User Profile</h1>
  <div class="profile-image">
    <img width="120" height="120" [src]="user.photoURL ?? 'assets/images/image-placeholder.jpg'">
    <button mat-mini-fab (click)="inputField.click()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>

  <input #inputField type="file" hidden (change)="uploadImage($event, user)" />
  <form class="margin-top" [formGroup]="profileForm" #localForm="ngForm">
    <label type="text" p> <span class="label1">Employee ID:</span>&nbsp;&nbsp;
      <span class="ans">{{user.employeeId}}</span> </label>

    <!-- <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
          <div class="nameLbl">
            <label class="label2">
              Mobile No. <span class="hint">(09xxxxxxxxx)</span>*
            </label>
          </div>
          <div>
            <input class="form-control" type="text" formControlName="mobileNo" placeholder="Mobile No." maxlength="11"
              minlength="11" [class.is-invalid]="localForm.submitted && profileForm.get('mobileNo')?.invalid"
              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
          </div>
        </div>
      </div>
    </div> -->

    <div class="row">
      <!-- password -->
      <mat-form-field appearance="outline" class="col-md-12 col-lg-12 col-sm-12">
        <input class="inputs" matInput placeholder="Password" formControlName="password" type="password">
        <!-- <mat-error class="signupText" *ngIf="password?.errors?.['required']"> Password is Required!</mat-error> -->
        <mat-label>Password</mat-label>
      </mat-form-field>
    </div>
    <div class="row">
      <!-- confirm password -->
      <mat-form-field appearance="outline" class="col-md-12 col-lg-12 col-sm-12">
        <input class="inputs" matInput placeholder="Confirm Password" formControlName="confirmPassword" type="password">
        <!-- <mat-error class="signupText" *ngIf="confirmPassword?.errors?.['required']">Confirm password is Required!
        </mat-error> -->
        <mat-label>Confirm Password</mat-label>
      </mat-form-field>
      <!-- password matching error -->
      <!-- <mat-error class="signuppassText" *ngIf="profileForm.errors?.['passwordsDontMatch']">Password should match!
      </mat-error> -->
    </div>

    <div class="container" id="submitBtn">
      <button (click)="saveProfile()" type="submit" class="formbtn" mat-raised-button>
        Save
      </button>
    </div>
  </form>
</div>
