<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">
<!--for titles-->
<link href="https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap" rel="stylesheet">
<!--for labels-->
<link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap" rel="stylesheet">
<!--for answers-->

<div class="form-container1 mat-elevation-z5" *ngIf="user$ | async as user">
  <p id="ins">Please fill out all of the relevant information which will be recorded in the Faculty Management
    Information System. We ask that you only provide true and accurate information.
  </p>
  <hr>
  <h1 class="form-title">Personal Information</h1>
  <hr>

  <!-- <div class="profile-image">
    <img width="120" height="120" [src]="user.photoURL ?? 'assets/images/image-placeholder.jpg'">
    <button mat-mini-fab (click)="inputField.click()">
      <mat-icon>edit</mat-icon>
    </button>
  </div> -->

  <div class="container1">
    <div class="profile-image imgInfo">
      <img width="120" height="120" [src]="user.photoURL ?? 'assets/images/image-placeholder.jpg'">
      <button mat-mini-fab (click)="inputField.click()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div class="imgInfo info">
      <label type="text" p> <span class="label1">Employee ID: &nbsp; </span> <span
          class="ans">{{user.employeeId}}</span>
      </label> <br>
      <label type="text"> <span class="label1">Email Adress: &nbsp; </span>
        <span class="ans">{{user.email}}</span>
      </label>
    </div>
  </div>

  <input #inputField type="file" hidden (change)="uploadImage($event, user)" />

  <form class="personalInfoForm" [formGroup]="ProfileForm" (ngSubmit)="saveProfile()">
    <hr>
    <!-- <div class="container" style="text-align:center">
      <label type="text" p> <span class="label1">Employee ID: &nbsp; </span> <span
          class="ans">{{user.employeeId}}</span>
      </label>
      <label type="text"> <span class="label1">Email Adress: &nbsp; </span>
        <span class="ans">{{user.email}}</span>
      </label>
    </div> -->

    <div>
      <h2 class="title">Basic Information</h2>
    </div>

    <div class="container">
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            First Name*
          </label>
        </div>
        <div class="item">
          <input type="text" formControlName="firstName" placeholder="First Name" />

        </div>
      </div>
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            Last Name*
          </label>
        </div>
        <div class="item">
          <input type="text" formControlName="lastName" placeholder="Last Name" />
        </div>
      </div>
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            Middle Name
          </label>
        </div>
        <div class="item">
          <input type="text" formControlName="middleName" placeholder="Middle Name" />
        </div>
      </div>
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            Name Extension <span class="hint">(Jr, Sr)</span>
          </label>
        </div>
        <div class="item">
          <input type="text" formControlName="nameExtension" placeholder="Name Extension" />
        </div>
      </div>
      <div style="display: inline-flex; justify-content: space-between; min-width: fit-content;">
        <div class="main-item">
          <div class="nameLbl">
            <label class="label2">
              Birthday*
            </label>
          </div>
          <div class="item">
            <input class="smallInput" formControlName="dateOfBirth" placeholder="Date of Birth" type="date">
            <!-- <mat-datepicker #picker></mat-datepicker> -->
          </div>
        </div>
        &nbsp;&nbsp;
        <div class="main-item">
          <div class="nameLbl">
            <label class="label2">
              Age*
            </label>
          </div>
          <div class="item">
            <input class="smallInput" type="text" formControlName="age" placeholder="Age" maxlength="3" />
            <!-- <mat-error *ngIf="ProfileForm?.errors?.['required']"> Required!</mat-error> -->
          </div>
        </div>
      </div>
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            Place of Birth* <span class="hint">(City/Municipality/Province)</span>
          </label>
        </div>
        <div class="item">
          <input class="mediumInput" type="text" formControlName="placeOfBirth" placeholder="Place of Birth" />
        </div>
      </div>
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            Gender
          </label>
        </div>
        <div class="item">
          <select formControlName="gender" placeholder="Gender">
            <option value="" selected disabled>Select Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="LGBTQIA">LGBTQIA+</option>
          </select>
        </div>
      </div>
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            Civil Status
          </label>
        </div>
        <div class="item">
          <select formControlName="civilStatus" placeholder="Civil Status">
            <option value="" disabled selected>Select Civil Status</option>
            <option value="Single  ">Single </option>
            <option value="Married ">Married </option>
            <option value="Widowed">Widowed</option>
            <option value="Separated ">Separated</option>
            <option value="Divorced ">Divorced</option>
          </select>
        </div>
      </div>
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            Height <span class="hint">(cm)</span>*
          </label>
        </div>
        <div class="item">
          <input type="text" formControlName="height" placeholder="Height"
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
        </div>
      </div>
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            Weight <span class="hint">(lbs)</span>*
          </label>
        </div>
        <div class="item">
          <input type="text" formControlName="weight" placeholder="Weight"
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
        </div>
      </div>
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            Blood Type
          </label>
        </div>
        <div class="item">
          <select formControlName="bloodType">
            <option value="" disabled selected>Select Blood Type</option>
            <option value="A RhD positive (A+)">A RhD positive (A+) </option>
            <option value="A RhD negative (A-) ">A RhD negative (A-) </option>
            <option value="B RhD positive (B+)">B RhD positive (B+)</option>
            <option value="B RhD negative (B-)">B RhD negative (B-)</option>
            <option value="O RhD positive (O+)">O RhD positive (O+)</option>
            <option value="O RhD negative (O-)">O RhD negative (O-))</option>
            <option value="AB RhD positive (AB+)">AB RhD positive (AB+)</option>
            <option value="AB RhD negative (AB-)">AB RhD negative (AB-)</option>
          </select>
        </div>
      </div>
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            Citizenship*
          </label>
        </div>
        <div class="item">
          <input type="text" formControlName="citezenship" placeholder="Citizenship" />
        </div>
      </div>
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            GSIS ID No.
          </label>
        </div>
        <div class="item">
          <input type="text" formControlName="gsis" placeholder="GSIS ID No." maxlength="7" minlength="7"
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
        </div>
      </div>
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            PAGIBIG ID No.
          </label>
        </div>
        <div class="item">
          <input type="text" formControlName="pagibig" placeholder="PAGIBIG ID No." maxlength="7" minlength="7"
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
        </div>
      </div>
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            PHILHEALTH No.
          </label>
        </div>
        <div class="item">
          <input type="text" formControlName="philhealth" placeholder="PHILHEALTH No." maxlength="12" minlength="12"
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
        </div>
      </div>
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            SSS No.
          </label>
        </div>
        <div class="item">
          <input type="text" formControlName="sss" placeholder="SSS No." maxlength="15" minlength="15"
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
        </div>
      </div>
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            TIN No.
          </label>
        </div>
        <div class="item">
          <input type="text" formControlName="tin" placeholder="TIN No." maxlength="12" minlength="12"
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
        </div>
      </div>
    </div>
    <hr>

    <div>
      <h2 class="title">Resident Address</h2>
    </div>
    <div class="container">
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            House/Block/Lot No.
          </label>
        </div>
        <div class="item">
          <input type="text" formControlName="houseBlockResident" placeholder="House/Block/Lot No." />
        </div>
      </div>
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            Street
          </label>
        </div>
        <div class="item">
          <input type="text" formControlName="streetResident" placeholder="Street" />
        </div>
      </div>
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            Subdivision/Village
          </label>
        </div>
        <div class="item">
          <input type="text" formControlName="subdivisionResident" placeholder="Subdivision/Village" />
        </div>
      </div>
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            Barangay*
          </label>
        </div>
        <div class="item">
          <input type="text" formControlName="barangayResident" placeholder="Barangay" />
        </div>
      </div>
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            City/Municipality*
          </label>
        </div>
        <div class="item">
          <input type="text" formControlName="municipalityResident" placeholder="City/Municipality" />
        </div>
      </div>
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            Province*
          </label>
        </div>
        <div class="item">
          <input type="text" formControlName="provinceResident" placeholder="Province" />
        </div>
      </div>
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            Zip Code*
          </label>
        </div>
        <div class="item">
          <input type="text" formControlName="zipCodeResident" placeholder="Zip Code" maxlength="4"
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
        </div>
      </div>
    </div>
    <hr>

    <div>
      <h2 class="title">Permanent Address</h2>
    </div>
    <div class="container">
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            House/Block/Lot No.
          </label>
        </div>
        <div class="item">
          <input type="text" formControlName="houseBlockPermanent" placeholder="House/Block/Lot No." />
        </div>
      </div>
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            Street
          </label>
        </div>
        <div class="item">
          <input type="text" formControlName="streetPermanent" placeholder="Street" />
        </div>
      </div>
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            Subdivision/Village
          </label>
        </div>
        <div class="item">
          <input type="text" formControlName="subdivisionPermanent" placeholder="Subdivision/Village" />
        </div>
      </div>
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            Barangay*
          </label>
        </div>
        <div class="item">
          <input type="text" formControlName="barangayPermanent" placeholder="Barangay" />
        </div>
      </div>
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            City/Municipality*
          </label>
        </div>
        <div class="item">
          <input type="text" formControlName="municipalityPermanent" placeholder="City/Municipality" />
        </div>
      </div>
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            Province*
          </label>
        </div>
        <div class="item">
          <input type="text" formControlName="provincePermanent" placeholder="Province" />
        </div>
      </div>
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            Zip Code*
          </label>
        </div>
        <div class="item">
          <input type="text" formControlName="zipCodePermanent" placeholder="Zip Code" maxlength="4"
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
        </div>
      </div>
    </div>
    <hr>

    <div>
      <h2 class="title">Contact Information</h2>
    </div>
    <div class="container">
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            Telephone No. <span class="hint">(Area Code + xxxxxxx)</span>
          </label>
        </div>
        <div class="item">
          <input type="text" formControlName="telephoneNo" placeholder="Telephone No." maxlength="7"
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
        </div>
      </div>
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            Mobile No. <span class="hint">(09xxxxxxxxx)</span>*
          </label>
        </div>
        <div class="item">
          <input type="text" formControlName="mobileNo" placeholder="Mobile No." maxlength="11" minlength="11"
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
        </div>
      </div>
      <div class="main-item">
        <div class="nameLbl">
          <label class="label2">
            Alternate Email Address
          </label>
        </div>
        <div class="item">
          <input type="email" formControlName="alternateEmail" placeholder="Alternate Email Address" />
        </div>
      </div>
    </div>

    <div class="container" id="submitBtn">
      <button type="submit" class="formbtn" mat-raised-button>
        Next
      </button>
    </div>
  </form>
</div>
