.form-container1 {
  display: block;
  max-width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #D3D5DB;
  padding: 10px;
  border-radius: 16px;
  height: max-content;
}

#ins {
  font-size: 1.3em;
  font-family: sans-serif;
  padding: 5px;
  line-height: 1.2em;
  color: black;
}

.imgInfo {
  display: flex;
  align-items: right;
  justify-content: right;
  width: 46%;
}

.info {
  text-align: left;
  vertical-align: middle !important;
  width: 50%;
  line-height: 20px;
  padding: 20px;
}

.centerTxt {
  vertical-align: middle;
}

.form-title {
  font-family: 'Koulen', cursive;
  font-size: 2.8em;
  padding: -5px;
  text-align: center;
  color: #072F6E;
  font-weight: 700;
}

.profile-image>img {
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

.profile-image {
  position: relative;
  align-items: center;
}


.profile-image>button {
  position: absolute;
  bottom: -5px;
  right: 2%;
  background-color: #072F6E;
  color: #ffffff;
}

.title {
  text-align: left;
  font-family: 'Cabin', sans-serif;
  font-size: 1.5em;
  color: #072F6E;
  font-weight: 700;
}

.label1 {
  font-size: 1.4em;
  font-family: 'Cabin', sans-serif;
  color: #072F6E;
}

.label2 {
  font-weight: 0 !important;
  font-size: 1.1em;
  font-family: 'Cabin', sans-serif;
  color: #072F6E;
  width: 100%;
}

.ans {
  font-size: 1.4em;
  font-family: 'Signika Negative', sans-serif;
  color: #072F6E;
  font-weight: 600;
}

#submitBtn {
  justify-content: flex-end;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10px;
  width: 100%;
}

.container1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-top: 20px;
  margin-bottom: -10px;
}

.container3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-top: 20px;
  margin-bottom: -10px;
  margin-left: -500px;
  margin-right: 540px;
}

.main-item {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 3px;
  margin-right: 3px;
}

.item {
  display: flex;
}

input,
select {
  background: #ecf0f3;
  padding: 10px;
  height: 50px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

input {
  display: block;
  border: 2px solid #072F6E;
}


input:focus,
select:focus {
  outline: none !important;
  border: 3px solid #072F6E;
}

select {
  border: 2px solid #072F6E;
}

select,
select option {
  color: #000000;
}

select:invalid,
select option[value=""] {
  color: #999999;
}

.bigInput {
  width: 610px;
  background: #ecf0f3;
  padding: 10px;
  height: 50px;
  font-size: 14px;
  border-radius: 10px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

input::placeholder {
  color: gray;
}

.nameLbl {
  text-align: left;
  margin-left: 10px;
  margin-top: 10px;
}

.hint {
  font-size: 0.9em;
}

.formbtn {
  background-color: #01193E;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  width: 200px;
  margin-top: 25px;
  margin-bottom: 25px;
  justify-content: flex-end;
  border-radius: 30px;
  font-size: 1.2em;
  color: #e7e7e7;
  padding: 3px;
}

.formbtn:hover {
  background-color: #024ABD;
}

.formbtnDiv {
  display: flex;
  justify-content: right;
  align-items: flex-end;
}

hr {
  background-color: #01193E;
}

.newcontainer {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row {
  width: 100%;
}

@media only screen and (max-width: 600px) {

  .formbtn {
    padding: 8px;
  }

  .formbtnDiv {
    justify-content: center;
  }

  .formbtn {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
