

        <div class="card p-5 m-5">
            <h3>Personal Information</h3>
            <div class="car-body p-5 m-5">
                
        
                <div class="row">
        
                    <div class="col-xs-6 mb-3">
                        
                        <div class="row">
                            <div class="col-xs-12 col-sm-5">
                                <label class="mb-2 " for="">Employee ID</label>
                                <input class="form-control" type="text" placeholder="Employee ID"/>
                            </div>
                            <div class="col-xs-12 col-sm-5">
                                <label class="mb-2" for="">Email Address</label>
                                <input class="form-control" type="text" placeholder="Email Address"/>
                            </div>
                            
                        </div>
                    </div>
        
                    <div class="col-xs-6 mb-3">
                        
                        <div class="row">
                            <label class="mb-2" for="">Employee Name</label>
                            <div class="col-xs-12 col-sm-3">
                                <input class="form-control" type="text" placeholder="First Name"/>
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                <input class="form-control" type="text" placeholder="Last Name"/>
                            </div>
        
                            <div class="col-xs-12 col-sm-3">
                                <input class="form-control" type="text" placeholder="Middle Initial"/>
                            </div>

                            <div class="col-xs-12 col-sm-3">
                                <input class="form-control" type="text" placeholder="Name Extension"/>
                                <!-- <div><p class="m-2">(jr, sr, etc.)</p></div> -->
                            </div>
                        </div>
                    </div>
                    

                    <div class="col-xs-6 mb-3">
                        
                        <div class="row">
                            
                            <div class="col-xs-12 col-sm-3">
                                <label class="mb-2" for=""> Date of Birth</label>
                                <input class="form-control" type="text" placeholder="Date of Birth"/>
                            </div>
                            
                            <div class="col-xs-12 col-sm-3">
                                <label class="mb-2" for=""> Age </label>
                                <input class="form-control" type="text" placeholder="Age"/>
                            </div>
                            
                            <div class="col-xs-12 col-sm-3">
                                <label class="mb-2" for=""> Place of Birth</label>
                                <input class="form-control" type="text" placeholder="Place of Birth"/>
                            </div>

                            <div class="col-xs-12 col-sm-3">
                                <label class="mb-2" for=""> Gender </label>
                                <input class="form-control" type="text" placeholder="Gender"/>
                                <!-- <div><p class="m-2">(jr, sr, etc.)</p></div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 mb-3">
                        
                        <div class="row">
                            
                            <div class="col-xs-12 col-sm-3">
                                <label class="mb-2" for=""> Civil Status</label>
                                <input class="form-control" type="text" placeholder="Civil Status"/>
                            </div>
                            
                            <div class="col-xs-12 col-sm-3">
                                <label class="mb-2" for=""> Height </label>
                                <input class="form-control" type="text" placeholder="Height"/>
                            </div>
                            
                            <div class="col-xs-12 col-sm-3">
                                <label class="mb-2" for=""> Weight</label>
                                <input class="form-control" type="text" placeholder="Weight"/>
                            </div>

                            <div class="col-xs-12 col-sm-3">
                                <label class="mb-2" for=""> Blood Type </label>
                                <input class="form-control" type="text" placeholder="Blood Type"/>
                                <!-- <div><p class="m-2">(jr, sr, etc.)</p></div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 mb-3">
                        
                        <div class="row">
                            
                            <div class="col-xs-12 col-sm-3">
                                <label class="mb-2" for=""> GSIS ID No.</label>
                                <input class="form-control" type="text" placeholder="GSIS ID No."/>
                            </div>
                            
                            <div class="col-xs-12 col-sm-3">
                                <label class="mb-2" for=""> PAGIBIG ID No. </label>
                                <input class="form-control" type="text" placeholder="PAGIBIG ID No."/>
                            </div>
                            
                            <div class="col-xs-12 col-sm-3">
                                <label class="mb-2" for=""> PHILHEALTH No</label>
                                <input class="form-control" type="text" placeholder="PHILHEALTH No"/>
                            </div>

                            <div class="col-xs-12 col-sm-3">
                                <label class="mb-2" for=""> SSS No.</label>
                                <input class="form-control" type="text" placeholder="SSS No."/>
                                <!-- <div><p class="m-2">(jr, sr, etc.)</p></div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 mb-3">
                        
                        <div class="row">
                            
                            <div class="col-xs-12 col-sm-3">
                                <label class="mb-2" for=""> TIN No.</label>
                                <input class="form-control" type="text" placeholder="TIN No."/>
                            </div>
                            
                            <div class="col-xs-12 col-sm-3">
                                <label class="mb-2" for="">   Citizenship </label>
                                <input class="form-control" type="text" placeholder="Citizenship"/>
                            </div>
                            <br/><br/><br/><br/> 
                            
                           

                            
                        </div>
                    </div>

                    <div class="col-xs-6 mb-3">
                        
                        <div class="row">
                            <label class="mb-2" for="">Resident Address</label>
                            <div class="col-xs-12 col-sm-3">
                                <input class="form-control" type="text" placeholder="House/Block/Lot No."/>
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                <input class="form-control" type="text" placeholder="Street"/>
                            </div>
        
                            <div class="col-xs-12 col-sm-3">
                                <input class="form-control" type="text" placeholder="Subdivision/Village"/>
                            </div>

                            <div class="col-xs-12 col-sm-3">
                                <input class="form-control" type="text" placeholder="Barangay"/>
                                <!-- <div><p class="m-2">(jr, sr, etc.)</p></div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 mb-3">
                        
                        <div class="row">
                            <div class="col-xs-12 col-sm-3">
                                <input class="form-control" type="text" placeholder="City/Municipality"/>
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                <input class="form-control" type="text" placeholder="Province"/>
                            </div>
        
                            <div class="col-xs-12 col-sm-3">
                                <input class="form-control" type="text" placeholder="Zip Code"/>
                            </div>

                    
                        </div>
                    </div>

                    <br/><br/><br/><br/>

                    <div class="col-xs-6 mb-3">
                        
                        <div class="row">
                            <label class="mb-2" for="">Permanent Address</label>
                            <div class="col-xs-12 col-sm-3">
                                <input class="form-control" type="text" placeholder="House/Block/Lot No."/>
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                <input class="form-control" type="text" placeholder="Street"/>
                            </div>
        
                            <div class="col-xs-12 col-sm-3">
                                <input class="form-control" type="text" placeholder="Subdivision/Village"/>
                            </div>

                            <div class="col-xs-12 col-sm-3">
                                <input class="form-control" type="text" placeholder="Barangay"/>
                                <!-- <div><p class="m-2">(jr, sr, etc.)</p></div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 mb-3">
                        
                        <div class="row">
                            <div class="col-xs-12 col-sm-3">
                                <input class="form-control" type="text" placeholder="City/Municipality"/>
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                <input class="form-control" type="text" placeholder="Province"/>
                            </div>
        
                            <div class="col-xs-12 col-sm-3">
                                <input class="form-control" type="text" placeholder="Zip Code"/>
                            </div>

                    
                        </div>
                    </div>
                    <br/><br/><br/><br/>

                    <div class="col-xs-6 mb-3">
                        
                        <div class="row">
                            <div class="col-xs-12 col-sm-3">
                                <label class="mb-2" for="">  Telephone No.</label>
                                <input class="form-control" type="text" placeholder="Telephone No."/>
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                <label class="mb-2" for=""> Mobile No.</label>
                                <input class="form-control" type="text" placeholder="Mobile No."/>
                            </div>
        
                            <div class="col-xs-12 col-sm-3">
                                <label class="mb-2" for=""> Alternate Email address</label>
                                <input class="form-control" type="text" placeholder=" Alternate Email address"/>
                            </div>

                    
                        </div>
                    </div>


                    

                    
        
                    
        
                
                    <div>
                        <button class="btn btn-primary mt-5" type="submit">Next</button>
                    </div>
        
                </div>
        
        
            </div>
        </div>

    
    

