<div class="form-container1 mat-elevation-z5 text-center" *ngIf="user$ | async as user">

    <h1 class="form-title">Personal Information</h1>
    <hr>

    <div class="profile-image">
        <img width="120" height="120" [src]="user.photoURL ?? 'assets/images/image-placeholder.jpg'">
        <button mat-mini-fab (click)="inputField.click()">
            <mat-icon>edit</mat-icon>
        </button>

    </div>


    <input #inputField type="file" hidden (change)="uploadImage($event, user)" />



    <form class="personalInfoForm" [formGroup]="ProfileFrom" (ngSubmit)="saveProfile()">

        <hr>


        <div class="forms-div" style="text-align:center">

            <!-- employee id -->

            <label type="text" matInput p> Employee ID:{{user.employeeId}}</label>


            <!-- email -->

            <label type="text" matInput>Email Adress: {{user.email}}</label>



        </div>

        <hr>
        <div>
            <h2 class="title">Faculty Name</h2>
        </div>


        <div class="forms-div">



            <mat-form-field>
                <input type="text" matInput formControlName="firstName" placeholder="First Name" />
            </mat-form-field>

            <mat-form-field>
                <input type="text" matInput formControlName="lastName" placeholder="Last Name" />
            </mat-form-field>

            <mat-form-field>
                <input type="text" matInput formControlName="middleName" placeholder="Middle Name" />
            </mat-form-field>

            <mat-form-field>
                <input type="text" matInput formControlName="nameExtension" placeholder="Name Extension" />
                <mat-hint>(Jr, Sr, III etc.)</mat-hint>
            </mat-form-field>

            <!-- -->

        </div>

        <hr>

        <div class="forms-div">
            <mat-form-field class="mat-fieds">
                <input formControlName="dateOfBirth" placeholder="Date of Birth" type="date" matInput>
                <mat-hint>(DD/MM/YYYY)</mat-hint>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <input type="text" matInput formControlName="age" placeholder="Age" />
            </mat-form-field>

            <mat-form-field>
                <input type="text" matInput formControlName="placeOfBirth" placeholder="Place of Birth" />
            </mat-form-field>

            <mat-form-field>
                <select matNativeControl formControlName="gender" placeholder="Gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="LGBTQIA">LGBTQIA+</option>
                </select>
            </mat-form-field>
        </div>
        <br>

        <div class="forms-div">

            <mat-form-field>

                <select matNativeControl formControlName="civilStatus" placeholder="Civil Status">

                    <option value="Single  ">Single </option>
                    <option value="Married ">Married </option>
                    <option value="Widowed">Widowed</option>
                    <option value="Separated ">Separated</option>
                    <option value="Divorced ">Divorced</option>

                </select>
            </mat-form-field>

            <mat-form-field>
                <input type="text" matInput formControlName="height" placeholder="Height" />
                <mat-hint>(cm)</mat-hint>
            </mat-form-field>

            <mat-form-field>
                <input type="text" matInput formControlName="weight" placeholder="Weight" />
                <mat-hint>(lbs)</mat-hint>
            </mat-form-field>

            <mat-form-field>

                <select matNativeControl formControlName="bloodType" placeholder="Blood Type">

                    <option value="A RhD positive (A+)">A RhD positive (A+) </option>
                    <option value="A RhD negative (A-) ">A RhD negative (A-) </option>
                    <option value="B RhD positive (B+)">B RhD positive (B+)</option>
                    <option value="B RhD negative (B-)">B RhD negative (B-)</option>
                    <option value="O RhD positive (O+)">O RhD positive (O+)</option>
                    <option value="O RhD negative (O-)">O RhD negative (O-))</option>
                    <option value="AB RhD positive (AB+)">AB RhD positive (AB+)</option>
                    <option value="AB RhD negative (AB-)">AB RhD negative (AB-)</option>

                </select>
            </mat-form-field>

        </div>
        <br>

        <div class="forms-div">

            <mat-form-field>
                <input type="text" matInput formControlName="gsis" placeholder="GSIS ID No." />
            </mat-form-field>

            <mat-form-field>
                <input type="text" matInput formControlName="pagibig" placeholder="PAGIBIG ID No." />
            </mat-form-field>

            <mat-form-field>
                <input type="text" matInput formControlName="philhealth" placeholder="PHILHEALTH No." />
            </mat-form-field>

            <mat-form-field>
                <input type="text" matInput formControlName="sss" placeholder="SSS No." />
            </mat-form-field>

        </div>
        <br>

        <div class="forms-div">

            <mat-form-field>
                <input type="text" matInput formControlName="tin" placeholder="TIN No." />
            </mat-form-field>

            <mat-form-field>
                <input type="text" matInput formControlName="citezenship" placeholder="Citizenship" />
            </mat-form-field>
        </div>

        <hr>


        <div>
            <h2 class="title">Resident Address</h2>
        </div>


        <div class="forms-div">



            <mat-form-field>
                <input type="text" matInput formControlName="houseBlockResident" placeholder="House/Block/Lot No." />
            </mat-form-field>

            <mat-form-field>
                <input type="text" matInput formControlName="streetResident" placeholder="Street" />
            </mat-form-field>

            <mat-form-field>
                <input type="text" matInput formControlName="subdivisionResident" placeholder="Subdivision/Village" />
            </mat-form-field>

            <mat-form-field>
                <input type="text" matInput formControlName="barangayResident" placeholder="Barangay" />
            </mat-form-field>

            <!-- -->

        </div>

        <div class="forms-div">



            <mat-form-field>
                <input type="text" matInput formControlName="municipalityResident" placeholder="City/Municipality" />
            </mat-form-field>

            <mat-form-field>
                <input type="text" matInput formControlName="provinceResident" placeholder="Province" />
            </mat-form-field>

            <mat-form-field>
                <input type="text" matInput formControlName="zipCodeResident" placeholder="Zip Code" />
            </mat-form-field>

            <!-- -->

        </div>

        <hr>

        <div>
            <h2 class="title">Permanent Address</h2>
        </div>


        <div class="forms-div">



            <mat-form-field>
                <input type="text" matInput formControlName="houseBlockPermanent" placeholder="House/Block/Lot No." />
            </mat-form-field>

            <mat-form-field>
                <input type="text" matInput formControlName="streetPermanent" placeholder="Street" />
            </mat-form-field>

            <mat-form-field>
                <input type="text" matInput formControlName="subdivisionPermanent" placeholder="Subdivision/Village" />
            </mat-form-field>

            <mat-form-field>
                <input type="text" matInput formControlName="barangayPermanent" placeholder="Barangay" />
            </mat-form-field>

            <!-- -->

        </div>

        <div class="forms-div">



            <mat-form-field>
                <input type="text" matInput formControlName="municipalityPermanent" placeholder="City/Municipality" />
            </mat-form-field>

            <mat-form-field>
                <input type="text" matInput formControlName="provincePermanent" placeholder="Province" />
            </mat-form-field>

            <mat-form-field>
                <input type="text" matInput formControlName="zipCodePermanent" placeholder="Zip Code" />
            </mat-form-field>

            <!-- -->

        </div>

        <hr>

        <div class="forms-div">



            <mat-form-field>
                <input type="text" matInput formControlName="telephoneNo" placeholder="Telephone No." />
            </mat-form-field>

            <mat-form-field>
                <input type="text" matInput formControlName="mobileNo" placeholder="Mobile No." />
            </mat-form-field>

            <mat-form-field>
                <input type="text" matInput formControlName="alternateEmail" placeholder="Alternate Email Address" />
            </mat-form-field>

            <!-- -->

        </div>








        <div>
            <button type="submit" class="formbtn" mat-raised-button>
                Submit
            </button>
        </div>

    </form>

</div>