<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">
<!--for titles-->
<link href="https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap" rel="stylesheet">
<!--for labels-->
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
<!-- for th -->
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
<!--Sub Title-->

<div class="form-container3 mat-elevation-z5" *ngIf="user$ | async as user">
  <h1 class="form-title">Personal Information</h1>
  <hr>

  <div class="container1">
    <div class="profile-image">
      <img width="200" height="200" [src]="user.photoURL ?? 'assets/images/image-placeholder.jpg'">
    </div>

    <div id="rightDiv">
      <span id="upper1"><strong>{{user.lastName}}, </strong>{{user.firstName}}</span><br>
      <div>
        <span id="upper2">I am a faculty of College of Information and Communications Technology</span>
      </div>
      <span class="upper3">
        <mat-icon>perm_identity</mat-icon>{{user.employeeId}}
      </span><br>
      <span class="upper3">
        <mat-icon> email</mat-icon>{{user.email}}
      </span>
    </div>
  </div>

  <div class="container">
    <section class="fieldset">
      <table>
        <tbody>
          <caption>Basic Information</caption>
          <tr>
            <th>First Name</th>
            <td>:</td>
            <td>{{user.firstName}}</td>
          </tr>
          <tr>
            <th>Middle Name</th>
            <td>:</td>
            <td>{{user.middleName}}</td>
          </tr>
          <tr>
            <th>Last Name</th>
            <td>:</td>
            <td>{{user.lastName}} {{user.nameExtension}}</td>
          </tr>
          <tr>
            <th>Name Extension</th>
            <td>:</td>
            <td>{{user.nameExtension}}</td>
          </tr>
          <tr>
            <th>Employee ID</th>
            <td>:</td>
            <td>{{user.employeeId}}</td>
          </tr>
          <tr>
            <th>Email Address</th>
            <td>:</td>
            <td>{{user.email}}</td>
          </tr>
          <tr>
            <th>Date of Birth</th>
            <td>:</td>
            <td>{{user.dateOfBirth}}</td>
          </tr>
          <tr>
            <th>Age</th>
            <td>:</td>
            <td>{{user.age}}</td>
          </tr>
          <tr>
            <th>Place of Birth</th>
            <td>:</td>
            <td>{{user.placeOfBirth}}</td>
          </tr>
          <tr>
            <th>Gender</th>
            <td>:</td>
            <td>{{user.gender}}</td>
          </tr>
          <tr>
            <th>Civil Status</th>
            <td>:</td>
            <td>{{user.civilStatus}}</td>
          </tr>
          <tr>
            <th>Citizenship</th>
            <td>:</td>
            <td>{{user.citezenship}}</td>
          </tr>
          <tr>
            <th>Height</th>
            <td>:</td>
            <td>{{user.height}}</td>
          </tr>
          <tr>
            <th>Weight</th>
            <td>:</td>
            <td>{{user.weight}}</td>
          </tr>
          <tr>
            <th>Blood Type</th>
            <td>:</td>
            <td>{{user.bloodType}}</td>
          </tr>
          <tr>
            <th>GSIS Number</th>
            <td>:</td>
            <td>{{user.gsisId}}</td>
          </tr>
          <tr>
            <th>PAGIBIG Number</th>
            <td>:</td>
            <td>{{user.pagibig}}</td>
          </tr>
          <tr>
            <th>PhilHealth Number</th>
            <td>:</td>
            <td>{{user.philhealt}}</td>
          </tr>
          <tr>
            <th>SSS Number</th>
            <td>:</td>
            <td>{{user.sss}}</td>
          </tr>
          <tr>
            <th>TIN Number</th>
            <td>:</td>
            <td>{{user.tin}}</td>
          </tr>
          <caption class="capBot">Resident Address</caption>
          <tr>
            <th>House/Block/Lot Number</th>
            <td>:</td>
            <td>{{user.houseBlockResident}}</td>
          </tr>
          <tr>
            <th>Street</th>
            <td>:</td>
            <td>{{user.streetResident}}</td>
          </tr>
          <tr>
            <th>Subdivision/Village</th>
            <td>:</td>
            <td>{{user.subdivisionResident}}</td>
          </tr>
          <tr>
            <th>Barangay</th>
            <td>:</td>
            <td>{{user.barangayResident}}</td>
          </tr>
          <tr>
            <th>City/Municipality</th>
            <td>:</td>
            <td>{{user.municipalityResident}}</td>
          </tr>
          <tr>
            <th>Province</th>
            <td>:</td>
            <td>{{user.provinceResident}}</td>
          </tr>
          <tr>
            <th>Zip Code</th>
            <td>:</td>
            <td>{{user.zipCodeResident}}</td>
          </tr>
          <caption class="capBot">Permanent Address</caption>
          <tr>
            <th>House/Block/Lot Number</th>
            <td>:</td>
            <td>{{user.houseBlockPermanent}}</td>
          </tr>
          <tr>
            <th>Street</th>
            <td>:</td>
            <td>{{user.streetPermanent}}</td>
          </tr>
          <tr>
            <th>Subdivision/Village</th>
            <td>:</td>
            <td>{{user.subdivisionPermanent}}</td>
          </tr>
          <tr>
            <th>Barangay</th>
            <td>:</td>
            <td>{{user.barangayPermanent}}</td>
          </tr>
          <tr>
            <th>City/Municipality</th>
            <td>:</td>
            <td>{{user.municipalityPermanent}}</td>
          </tr>
          <tr>
            <th>Province</th>
            <td>:</td>
            <td>{{user.provincePermanent}}</td>
          </tr>
          <tr>
            <th>Zip Code</th>
            <td>:</td>
            <td>{{user.zipCodePermanent}}</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
  <!-- <div class="container">
    <h2>Resident Address</h2>
    <section class="fieldset">
      <table>
        <tbody>
          <tr>
            <th>House/Block/Lot Number</th>
            <td>:</td>
            <td>{{user.houseBlockResident}}</td>
          </tr>
          <tr>
            <th>Street</th>
            <td>:</td>
            <td>{{user.streetResident}}</td>
          </tr>
          <tr>
            <th>Subdivision/Village</th>
            <td>:</td>
            <td>{{user.subdivisionResident}}</td>
          </tr>
          <tr>
            <th>Barangay</th>
            <td>:</td>
            <td>{{user.barangayResident}}</td>
          </tr>
          <tr>
            <th>City/Municipality</th>
            <td>:</td>
            <td>{{user.municipalityResident}}</td>
          </tr>
          <tr>
            <th>Province</th>
            <td>:</td>
            <td>{{user.provinceResident}}</td>
          </tr>
          <tr>
            <th>Zip Code</th>
            <td>:</td>
            <td>{{user.zipCodeResident}}</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
  <div class="container">
    <h2>Permanent Address</h2>
    <section class="fieldset">
      <table>
        <tbody>
          <tr>
            <th>House/Block/Lot Number</th>
            <td>:</td>
            <td>{{user.houseBlockPermanent}}</td>
          </tr>
          <tr>
            <th>Street</th>
            <td>:</td>
            <td>{{user.streetPermanent}}</td>
          </tr>
          <tr>
            <th>Subdivision/Village</th>
            <td>:</td>
            <td>{{user.subdivisionPermanent}}</td>
          </tr>
          <tr>
            <th>Barangay</th>
            <td>:</td>
            <td>{{user.barangayPermanent}}</td>
          </tr>
          <tr>
            <th>City/Municipality</th>
            <td>:</td>
            <td>{{user.municipalityPermanent}}</td>
          </tr>
          <tr>
            <th>Province</th>
            <td>:</td>
            <td>{{user.provincePermanent}}</td>
          </tr>
          <tr>
            <th>Zip Code</th>
            <td>:</td>
            <td>{{user.zipCodePermanent}}</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div> -->
</div>
