
<div class="form-container1">


    <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">EmployeeID</th>
          <th scope="col">Email</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of userList; index as id">
          <th scope="row">{{ id + 1 }}</th>
          <td>{{ data.employeeId }}</td>
          <td>{{ data.email}}</td>
          <td>{{ data.firstname}}</td>
          <td>{{ data.lastname}}</td>
          <td>
              <button  class="btn btn-success" (click)="accept()" >
                Accept
              </button>
              <button  class="btn btn-danger" (click)="openAlert()">
                Delete
            </button>
          </td>
        </tr>
        </tbody>
      </table>

</div>







