<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">
<!--for titles-->
<link href="https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap" rel="stylesheet">
<!--for labels-->
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
<!-- for th -->
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">


<div class="form-container1 mat-elevation-z5">

    <h2 class="form-title"> Consent</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">



                <p>I, as the Data Subject, hereby consent to the processing of my personal data, and voluntarily provide
                    the said data
                    to the admin via the means stated below in this consent, by submitting this form and choosing the
                    option "I AGREE."

                    <li>
                        The data gathered on this form will only be used for the college’s faculty account management
                        and will not be shared with any third parties without your prior written agreement.
                    </li>
                    <li>
                        The information you provide on this form will be stored in a database handled by the college and
                        can be used to
                        produce either a printed list for report generation or an electronic copy for distribution on
                        the
                        web.
                    </li>
                    <li>
                        In compliance with the Republic Act No. 10173, also known as the Data Privacy Act of 2012, this
                        system is
                        committed in protecting data subjects' right to privacy throughout all the information given in
                        the
                        system.
                    </li>


                </p>

                <div class="container" id="submitBtn">
                    <div class="row">
                      <div class="col-md-6 col-lg-3 col-sm-12 formbtnDiv">
                        <button (click)="disAgree()" class="formbtn" mat-raised-button>
                          Disagree
                        </button>
                      </div>
                      <div class="col-md-6 col-lg-1 col-sm-12">
              
                      </div>
                      <div class="col-md-6 col-lg-2 col-sm-12">
              
                      </div>
                      <div class="col-md-6 col-lg-2 col-sm-12">
              
                      </div>
                      <div class="col-md-6 col-lg-1 col-sm-12">
              
                      </div>
                      <div class="col-md-6 col-lg-3 col-sm-12 formbtnDiv">
                        <button routerLink="/personal-info-form"  type="submit" class="formbtn" mat-raised-button>
                          I Agree
                        </button>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>