mat-form-field{
    margin-right: 5em;
    color: white;
}label{
    margin-right: 10em;
    color: white;
    text-align: center;
}

.title{
    color: white;
    font-family:serif;
}

.forms-div{
    text-align: center;
}

h1{
    margin-bottom: 1em;
}
.profile-image > img {
    
    object-fit: cover;
    object-position: center;
}
.profile-image{
    position:relative
}
.profile-image > button{
    position: absolute;
    bottom: 1px;
    right:  8%;
}