<mat-toolbar color=""  class="navBar">

  
  

  <div > 
    <ng-container *ngIf="user$ | async as user; else none">
      <button mat-icon-button *ngIf=" sidenav1.mode === 'over'; " (click)="sidenav.toggle()" >

        <mat-icon *ngIf="!sidenav.opened">
          menu
        </mat-icon>
    
        <mat-icon *ngIf="sidenav.opened">
          close
        </mat-icon>
      </button>


    </ng-container>
   
    
    <strong routerLink="/landing" style="cursor:pointer;" class="home">
      Faculty Management System
    </strong> 

    
  </div>

  
 
  
     
    <ng-container *ngIf="user$ | async as user; else loginButton">
        <button mat-button [mat-menu-trigger-for]="userMenu">
            <img class="profile-image-toolbar" 
            width="30" height="30" [src]="user.photoURL ?? 'assets/images/image-placeholder.jpg'" >
            {{user.firstName}}
            <mat-icon>expand_more</mat-icon>
        </button>
        
        
        
    </ng-container>


    <ng-template #none>
      <button mat-button routerLink="/landing" class="homeBtn">
        <mat-icon>home</mat-icon>
     </button>
    </ng-template>

<ng-template #loginButton>
    <button mat-button routerLink="/login" class="landingBtn">
        Login
     </button>
     
</ng-template>


    
</mat-toolbar>

<mat-sidenav-container >

  <mat-sidenav  mode="over" #sidenav="matSidenav">
    <div  *ngIf="user$ | async as user" class="side">
      <img  height="120" width="120" 
      [src]="user.photoURL ?? 'assets/images/image-placeholder.jpg'"
      ><br/><br/>
      <strong *ngIf="user$ | async as user" > {{user.firstName}} {{ user.lastName}}</strong>

    </div>
   

    <hr class="text-success">

    <button mat-button class="menu-button">
      <mat-icon class="mat-icon">info</mat-icon>
      Personal Information
    </button>

    <button mat-button class="menu-button">
      <mat-icon class="mat-icon">assignment_ind</mat-icon>
      Educational Background
    </button>

    <button mat-button class="menu-button">
      <mat-icon class="mat-icon">check_box</mat-icon>
      Civil Service Eligibility 
    </button>

    <button mat-button class="menu-button">
      <mat-icon class="mat-icon">work</mat-icon>
      Work Experience 
    </button>

    <button mat-button class="menu-button">
      <mat-icon class="mat-icon">assignment</mat-icon>
      L&D/Training Programs 
    </button>

  </mat-sidenav>

  <mat-sidenav #sidenav1="matSidenav"  >
    <div *ngIf="user$ | async as user" class="side">
      <img  height="120" width="120" 
      [src]="user.photoURL ?? 'assets/images/image-placeholder.jpg'"
      ><br/><br/>
      <strong *ngIf="user$ | async as user" > {{user.firstName}} {{ user.lastName}}</strong>
  
    </div>
   
    
    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon class="mat-icon">person</mat-icon>
      Registration Request
    </button>

    <button mat-button class="menu-button">
      <mat-icon class="mat-icon">list</mat-icon>
      Faculty List
    </button>


  </mat-sidenav>
    
  <mat-sidenav-content>
    
      <div class="content">
        <router-outlet></router-outlet>
    </div>
   

  </mat-sidenav-content>

</mat-sidenav-container>



<mat-menu #userMenu="matMenu">
    
    <button #editProfile id="editProfile" mat-menu-item (click)="profile()"> <mat-icon>edit</mat-icon>Edit Profile</button>
    <button mat-menu-item (click)="dashboard()"><mat-icon>dashboard</mat-icon>Dashboard</button>
    <button mat-menu-item (click)="openModal()"><mat-icon>logout</mat-icon>Signout</button>
</mat-menu>

<div class="modal fade" #sigoutModal id="sigoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3  class="modal-title" id="exampleModalLabel"><strong>Signout</strong></h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
  
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to signout?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="logout()">Confirm</button>
        </div>
      </div>
    </div>
  </div>

  