mat-toolbar{
    justify-content: space-between;

}
.content{
    padding: 32px;
}

.profile-image-toolbar{
    border-radius: 100%;
    margin-right: 8px;
}

mat-sidenav{
    margin: 16px;
    width: 200px;
    border-right: none;
    color: white;
    background:  #5e5e68;
    padding: 16px;
    text-align: center;
    border-radius: 10px;
}
 
.content{
   
    justify-content: center;
    align-items: center;
    background: white;
}

mat-sidenav-container{
    height: calc(100vh - 65px);

} 