<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">
<!--for titles-->

<!-- <mat-toolbar #navBar id="navBar" color="" class="navBar"> -->
<nav #navBar class="navBar" id="navBar">
  <div style="display: inline-flex; justify-content: space-between; vertical-align: middle;">
    <div>
      <ng-container *ngIf="user$ | async as user;  else none">
        <button class="sideNavBar" mat-icon-button (click)="openSidenav()">
          <mat-icon class="leftBtnNav" *ngIf="!sidenav.opened">
            menu
          </mat-icon>
          <mat-icon class="leftBtnNav" *ngIf="sidenav.opened">
            close
          </mat-icon>
        </button>
      </ng-container>
    </div>
    <div class="titleDiv">
      <strong routerLink="/landing" class="home">
        Faculty Management Information System
      </strong>
    </div>
  </div>

  <div id="rightDiv">
    <ng-container *ngIf="user$ | async as user; else loginButton">
      <button class="rightBtnNav" [mat-menu-trigger-for]="userMenu">
        <div>
          <img class="profile-image-toolbar" width="30" height="30"
            [src]="user.photoURL ?? 'assets/images/image-placeholder.jpg'">
        </div>
        <div id="toVanish">
          {{user.firstName}}
          <mat-icon>expand_more</mat-icon>
        </div>
      </button>
    </ng-container>
  </div>

  <ng-template #none>
    <button mat-button routerLink="/landing" class="homeBtn">
    </button>
  </ng-template>

  <ng-template #loginButton>
    <button routerLink="/login" class="landingBtn">
      Login
    </button>
  </ng-template>
</nav>

<mat-menu class="dropdown" #userMenu="matMenu" id="dropdown">
  <button #editProfile id="editProfile" mat-menu-item (click)="profile()">
    <mat-icon>edit</mat-icon>Edit Profile
  </button>
  <button mat-menu-item (click)="dashboard()">
    <mat-icon>dashboard</mat-icon>Dashboard
  </button>
  <button mat-menu-item (click)="openModal()">
    <mat-icon>logout</mat-icon>Signout
  </button>
</mat-menu>



<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="over" #sidenav="matSidenav">
    <div *ngIf="user$ | async as user" class="side">
      <img height="120" width="120" [src]="user.photoURL ?? 'assets/images/image-placeholder.jpg'"><br /><br />
      <span class="nameFac" *ngIf="user$ | async as user"> {{user.firstName}} {{ user.lastName}}</span>
    </div>

    <mat-divider></mat-divider>

    <div class="sideNavHover" id="personalInfo">
      <button mat-button class="menu-button sideBtnDesignNew" (click)="showPersonalInfo()">
        <mat-icon class="mat-icon">info</mat-icon>
        &nbsp;Personal Information
      </button>
      <mat-divider></mat-divider>
    </div>

    

    <div class="sideNavHover" id="EducBack">
      <button mat-button class="menu-button sideBtnDesignNew" (click)="showEducBack()">
        <mat-icon class="mat-icon">assignment_ind</mat-icon>
        &nbsp;Educational Background
      </button>
      <mat-divider></mat-divider>
    </div>

  

    <div class="sideNavHover" id="civilService">
      <button mat-button id="civilService" class="menu-button sideBtnDesignNew" (click)="showCivilService()">
        <mat-icon class="mat-icon">check_box</mat-icon>
        &nbsp;Civil Service Eligibility
      </button>
      <mat-divider></mat-divider>
    </div>

    

    <div class="sideNavHover" id="workExp">
      <button mat-button class="menu-button sideBtnDesignNew" (click)="showWorkExp()">
        <mat-icon class="mat-icon">work</mat-icon>
        &nbsp;Work Experience
      </button>
      <mat-divider></mat-divider>
    </div>

   

    <div class="sideNavHover" id="traning">
      <button mat-button class="menu-button sideBtnDesignNew" (click)="showTrainings()">
        <mat-icon class="mat-icon">assignment</mat-icon>
        &nbsp;L&D/Training Programs
      </button>
      <mat-divider></mat-divider>
    </div>

   

    <div class="sideNavHover" id="facultyReq">
      <button mat-button class="menu-button" (click)="showFacultyRequest()">
        <mat-icon class="mat-icon">person</mat-icon>
        Faculty Request
      </button>
      <mat-divider></mat-divider>
    </div>

   

    <div class="sideNavHover" id="FacultyList">
      <button mat-button class="menu-button" (click)="showFacultyList()">
        <mat-icon class="mat-icon">list</mat-icon>
        Faculty List
      </button>
    </div>
  </mat-sidenav>

  <!-- <mat-sidenav-content> -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <!-- </mat-sidenav-content> -->
</mat-sidenav-container>





<div class="modal fade" #sigoutModal id="signoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel"><strong>Signout</strong></h3>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close">

        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to signout?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="logout()">Confirm</button>
      </div>
    </div>
  </div>
</div>

<!-- <div class="col-sm-8 bg-white">

    <app-personal-info-display *ngIf="personal_info_display"></app-personal-info-display>>
    <app-educational-background-display *ngIf="educational_background_display"></app-educational-background-display>>
    <app-civil-service-display *ngIf="civil_service_display"></app-civil-service-display>>
    <app-work-experience-display *ngIf="work_exp_display"></app-work-experience-display>>
    <app-training-display *ngIf="training_display"></app-training-display>>

  </div> -->
