.profile-image-toolbar {
  border-radius: 100%;
  margin-right: 8px;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
  position: relative;
  z-index: 2;
  height: 70px;
  background: rgb(5, 61, 151);
  background: -moz-linear-gradient(176deg, rgba(5, 61, 151, 1) 26%, rgba(4, 28, 66, 1) 98%);
  background: -webkit-linear-gradient(176deg, rgba(5, 61, 151, 1) 26%, rgba(4, 28, 66, 1) 98%);
  background: linear-gradient(176deg, rgba(5, 61, 151, 1) 26%, rgba(4, 28, 66, 1) 98%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#053d97", endColorstr="#041c42", GradientType=1);
  box-shadow: 0 4px 2px -2px rgb(255, 255, 255);
}

.landingBtn {
  position: relative;
  font-weight: 500;
  font-size: 1.3em;
  float: right;
  border: none;
  background: transparent;
  color: #ffffff;
  vertical-align: middle;
}

.rightBtnNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  background: transparent !important;
  border: none !important;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
  max-width: 100%;
  min-width: 100%;
  justify-content: space-between;
}

.titleDiv {
  vertical-align: middle;
  min-width: fit-content;
  max-width: max-content;
  margin-left: 80px;
  margin-top: 10px;
}

.home {
  margin-top: 0px;
  margin-left: -80px;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.2em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.home:focus {
  background-color: transparent;
  border: none;
}

.homeBtn {
  margin-left: -50px;
}

.sideNavBar {
  color: rgb(255, 255, 255);
}

.side {
  margin-top: 10px;
  margin-bottom: 20px;
}

#rightDiv {
  display: block;
  margin-right: 20px;
}

::ng-deep .dropdown {
  background-color: #072F6E;
  /* background: rgb(5, 61, 151);
  background: -moz-linear-gradient(176deg, rgba(5, 61, 151, 1) 26%, rgba(4, 28, 66, 1) 98%);
  background: -webkit-linear-gradient(176deg, rgba(5, 61, 151, 1) 26%, rgba(4, 28, 66, 1) 98%);
  background: linear-gradient(176deg, rgba(5, 61, 151, 1) 26%, rgba(4, 28, 66, 1) 98%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#053d97", endColorstr="#041c42", GradientType=1); */
  margin-left: 70px;
  margin-top: 5px;
}

/*To prevent auto-focus when opening the side nav*/
::ng-deep .mat-button-focus-overlay {
  display: none;
}

.mat-focus {
  background-color: #072F6E !important;
}

mat-sidenav {
  width: 280px;
  border-right: none;
  background-color: #b2b4b9;
  padding: 16px;
  text-align: center;
}

mat-menu {
  background-color: #072F6E !important;
}

mat-sidenav-container {
  height: calc(100vh - 70px);
  background-color: transparent;
  overflow: hidden;
}
::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
  display: none;
}

mat-icon {
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

mat-toolbar {
  justify-content: space-between;
}

mat-divider {
  background-color: #010611;
}

mat-button-wrapper {
  justify-content: center;
  color: black;
}

.thickdiv {
  border: 2px solid black;
}

img {
  border-radius: 50%;
}

.nameFac {
  color: #072F6E;
  font-size: 1.2em;
  text-align: center;
  font-weight: 600;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  color: #092972;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: middle;
}

.sideNavHover:hover,
.menu-button:hover {
  background-color: #092972;
  color: #ffffff !important;
}

.modal-content {
  color: #ffffff;
  background-color: #072F6E;
}

.modal-dialog {
  border-radius: 10px;
}

@media only screen and (max-width: 1000px) {

  .titleDiv {
    display: flex;
    justify-content: left;
  }

  #rightDiv {
    overflow: hidden;
  }

  #toVanish {
    display: none;
  }

  ::ng-deep .dropdown {
    margin-top: 10px;
  }
}
